@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&family=Source+Sans+Pro:ital,wght@1,700&display=swap');

* {
font-family: 'nunito', 'sans-serif';
box-sizing: border-box;
overflow-y: hidden;
overflow-x: hidden;
}

body {
    background-color: #E1EBF5;
}

button {
    background-color: transparent;
    text-align: center;
    border: 2px solid #87B2D9;
    border-radius: 8px;
    padding: 10px;
    transition: 0.4s;
    color: #87B2D9;
    margin: 0px 5px 0px 5px;
}

button:hover {
    background-color: #87B2D9;
    color: white;
    cursor: pointer;
}