.main {
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-size: cover;
    flex-direction: column;
}

.circle, .circle-size {
    height: 300px;
    width: 300px;
    left: 300px;
    top: 300px;
    background: radial-gradient(50% 50% at 50% 50%, #5192cf 0%, rgba(177, 204, 229, 0) 100%);
    border-radius: 50%; 
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 4s ease all;
}

.main-text {
    font-size: 110%;
    color: white;
    text-align: center;
}

.circle-size {
    transform: scale(2);
}

.buttons {
    margin-top: 80vh;
    position: absolute;
}

#second-line {
    margin-top: -35px;
}