@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&family=Source+Sans+Pro:ital,wght@1,700&display=swap');

* {
font-family: 'nunito', 'sans-serif';
box-sizing: border-box;
overflow-y: hidden;
overflow-x: hidden;
}

.main {
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-size: cover;
    flex-direction: column;
}

.circle {
    height: 573px;
    width: 573px;
    left: 433px;
    top: 225px;
    border-radius: 0px; 
    background: radial-gradient(50% 50% at 50% 50%, #87B2D9 0%, rgba(177, 204, 229, 0.06) 100%);
}

.circle {
    display: flex;
    align-items: center;
    justify-content: center;
}

.breathe-in {
    font-size: 150%;
    color: white;
}

