@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');

body{
    background-color: #E1EBF5;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button {
    color: #B1CCE5;
    background-color: #04AA6D;
    font-family: 'Nunito', sans-serif;
    border: none;
    padding: 100px;
    width: 383px;
    height: 383px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 60px;
    margin:auto;
    top: 50%;
    border-radius: 50%;
    background: radial-gradient(50% 50% at 50% 50%, #FCFDFF 0%, rgba(252, 253, 255, 0.19) 100%);

}


