<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../css files/resources.css">
</head>
<body>
    <div class="main">

        <div class="title">
            <h1 class="resources-text">resources</h1>
        </div>

        <ul class="resources-list">
            <li><a href="https://crisiscentre.bc.ca/get-help/" target="_blank" rel="noopener noreferrer">crisis line</a></li>
            <li><a href="https://www.betterhelp.com/
                " target="_blank" rel="noopener noreferrer">online counselling</a></li>
            <li><a href="https://foundrybc.ca/virtual/peer-support/
                " target="_blank" rel="noopener noreferrer">peer support</a></li>
            <li><a href=" https://www.betterhelp.com/
                " target="_blank" rel="noopener noreferrer">tips for maintaining mental wellness</a></li>
                <br><br>
            <li><a href="https://www.mhfa.ca/en/general-resources" target="_blank" rel="noopener noreferrer">general resources</a></li>
        </ul>

        <div class="emergency">
            <p>if you are in any immediate danger, please call 911 or your local emergency service number</p>
        </div>

    </div>
</body>
</html>