<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>breathe</title>
    <link href = "/static/css/base.css", rel = "stylesheet">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ending.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel = "stylesheet" href = "/static/css/ending.css">
</head>

<body>

    
 

<div class="container">

    <div class="text">
        <H1 class="greatJob">great job!</H1>
        <H1 class = "feelingNow">how are you feeling now?</H1>
    </div>


    <div class="smiley">
        <a href = "senseending.html"> <img src = "sad light1.svg" width = "184" class = "sad">
        </a>
        <a href = "senseending.html">
        <img src = "smiley light1.svg" width = "184" class = "happy"> 
        </a>


    </div>

</div>


    <div class="buttons">
        <a href="resources.html"><button>resources</button></a>
        <a href=""><button>try a different exercise</button></a>
    </div>


    


    
    
</body>





</html>