<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>grounded</title>  

    <link href="/static/css/base.css" , rel="stylesheet">
    <link rel="stylesheet" href="/static/css/thatsGreat.css">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/thatsGreat.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
	<link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
</head>
<body>
    <div class="main">
        <div class="container">
            <div class="text">
                    <H1 class="thats-great">that's great!</H1>
            </div>
            <div class="links">
                <h1 class="learn-about">learn about</h1>
                <h1 class="helpful-resources"><a href="/resources">helpful resources</a></h1>
            </div>
        </div>

        <div class="heart">
            <img src = "/static/img/smiley dark1.svg" width="50">
        </div>

    </div>
    
</body>
</html>