* {
     overflow-y: visible;
 }

 .greatJob{
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    color: #87B2D9;
}


.feelingNow{
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    color: #538CC0;
}

 .text, .smiley {
     width: auto;
     float: left;
 }

.smiley {
    width: 500px;
    float: left; 
    height: 184;
    text-align: center;
    margin-top: 8%;
    padding-left:5%;
}
.sad, .happy {
    padding-right: 15%;
}

.sad:hover, .happy:hover {
    filter: brightness(0) saturate(100%) invert(36%) sepia(13%) saturate(4098%) hue-rotate(174deg) brightness(83%) contrast(84%);
}

.container {
    width: fit-content;
    height: fit-content;
    margin-left:15%;
    margin-top:15%;
}

@media (min-height: 700px) {
    .buttons{
        margin-top: 10%;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 5%;
        margin-left: auto;
        margin-right: auto;
        width: 300px;
        display: flex;
        justify-content: space-between;
    }
}

@media (max-height: 700px) {
    .buttons{
        margin-top: 10%;
        position: relative;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        width: 300px;
        display: flex;
        justify-content: space-between;
    }
}













