@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;700&display=swap');

* {
font-family: 'nunito', 'sans-serif';
box-sizing: border-box;
overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    border-radius: 4px;
    box-shadow: inset 0 0 10px #538CC0;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #12406B;
}

body {
    margin-top: 40px;
    background-color: #E1EBF5;
    animation: fadeIn ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

button {
    background-color: transparent;
    text-align: center;
    border: 2px solid #87B2D9;
    border-radius: 8px;
    padding: 10px;
    transition: 0.4s;
    color: #87B2D9;
    margin: 0px 5px 0px 5px;
    font-weight: 700;
}

button:hover {
    background-color: #87B2D9;
    color: white;
    cursor: pointer;
}

.main {
    display: flex;
    width: 100vw;
    height: 98vh;
    background-size: cover;
    flex-direction: column;
    box-sizing: border-box;
}

.title {
    margin-left: 10%;
    margin-top: 60px;
    padding: 0;
}

.resources-text {
    font-size: 400%;
    color: #538CC0;
    position: absolute;
    font-weight: 700;
}

.resources-list {
    margin-left: 10%;
    padding: 3px;
    margin-top: 270px;
    position: absolute;
    font-weight: 200;
}


li {
    margin-bottom: 160px;
    list-style-type: none;
}

li a {
    text-decoration: none;
    font-size: 200%;
    color: #538CC0;
    transition: 0.4s;
}

li a:hover {
    cursor: pointer;
    color: #12406B;
}

p {
    color: #87B2D9;
    text-align: center;
    padding: 0px 20px 0px 20px
}

.buttons {
    margin-left: 10%;
    margin-top: 40px;
    position: absolute;
}

.exercises {
    margin-top: 150px;
	color: #538CC0;
    padding: 2px;
    margin-left: 10%;
}

.explore {
    margin-top: 150px;
}
