@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');

.content {
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
}

.text-container{
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    color: #87B2D9;
    padding-left: 13%;
    margin-top:20%;
    width: 40%;
}

.number {
    margin-top: 2%;
}

.sense {
    margin-top: -25%;
}

.option{
    width: 124px;
    height: 124px;
    border-radius: 50%;
    border: 2.5px solid #bdd0e2;
    box-sizing: border-box;
    margin-right: 20px;
    background-color: #E1EBF5;
}


.checklist{
    padding-left: 5%;
    
    width:60%;
    margin-top:22%;
    margin-left: auto;
    margin-right: auto;
    
    
}

.buttons {
    margin-top: 12%;
    text-align: center;
}

/* button {
    background-color: transparent;
    text-align: center;
    border: 2px solid #B1CCE5;
    border-radius: 8px;
    padding: 10px;
    transition: 0.4s;
    color: #87B2D9;
    margin: 0px 5px 0px 5px;
} */


.option-selected{
    border: 2.5px solid #87B2D9;
    background: radial-gradient(50% 50% at 50% 50%, rgba(177, 204, 229, 0.47) 0%, #87B2D9 100%);
}   




#option1 {
    border: 2.5px solid #87B2D9;
    transition: ease-out 2s;

}

#option1:hover {
    background: radial-gradient(50% 50% at 50% 50%, rgba(177, 204, 229, 0.47) 0%, #87B2D9 100%);
 

}


.option-to-select{
    border: 2.5px solid #87B2D9;
    ;
}

.option-to-select:hover{
    background: radial-gradient(50% 50% at 50% 50%, rgba(177, 204, 229, 0.47) 0%, #87B2D9 100%);
}






















