@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');

body{
    background-color: #E1EBF5;
    display: flex;
    align-items: center;
    justify-content: center;
}
button {
    color: #B1CCE5;
    font-family: 'Nunito', sans-serif;
    border: none;
    width: 383px;
    height: 383px;
    text-align: center;
    font-size: 60px;
    margin:auto;
    top: 50%;
    border-radius: 50%;
    background: radial-gradient(50% 50% at 50% 50%, #FCFDFF 0%, rgba(252, 253, 255, 0.19) 90%);
}

.start {
    padding-top: 250px;
}

button:hover {
    background:radial-gradient(50% 50% at 50% 50%, #FCFDFF 50%, rgba(252, 253, 255, 0.19) 100%);
    cursor: pointer;

    
}