@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');

body{
    background-color: #E1EBF5;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    color: #FCFDFF;
    font-family: 'Nunito', sans-serif;
    border: none;
    width: 383px;
    height: 383px;
    text-align: center;
    font-size: 60px;
    margin:auto;
    top: 50%;
    border-radius: 50%;
    background: radial-gradient(50% 50% at 50% 50%, #88B2D9 0%, rgba(255, 255, 255, 0.50) 100%);
}

.start {
    padding-top: 250px;
}

button:hover {
    background:radial-gradient(50% 50% at 50% 50%, #B1CCE5 20%, rgba(255, 255, 255, 0.9) 100%);
    cursor: pointer;
    
}