* {
    overflow-y: visible;
}

.main {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 90vh;
}

.heart {
    height: fit-content;
    margin-left: 80px;
}

.thats-great{
   font-family: Nunito;
   font-style: normal;
   font-weight: bold;
   font-size: 60px;
   color: #538CC0;
}

.container {
   width: fit-content;
   height: fit-content;
   margin-left: 10%;
}

.links {
   width: fit-content;
}

.links a {
   color: #538CC0;
   transition: 0.4s;
}

.links a:hover {
   color: #266198;
}

.learn-about {
   color: #87B2D9;
   margin-bottom: -32px;
}

.try, .helpful-resources {
   margin-bottom: 50px;
}











