<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grounded</title>  
    <link href="/static/css/senses.css", rel = "stylesheet">
    <link href = "/static/css/base.css", rel = "stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/senses.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <script src = "/static/js/senses.js"></script>
</head>

<body>
    <div class = "content">
        <div class = "text-container">
            <h4 class = "number">5 things</h4>
            <h4 class = "sense">you can see</h4>
        </div>

        <div class = "checklist" >
            <button id = "option1" class = "option" onclick = "selectOption1(false)"></button>
            <button class = "option" id = "option2" onclick = "selectOption2(false)"></button>
            <button class = "option" id = "option3" onclick = "selectOption3(false)"></button>
            <button class = "option" id = "option4" onclick = "selectOption4(false)"></button>
            <button class = "option" id = "option5" onclick = "selectOption5(true)"></button>
            
        </div>
    </div>
    
    
</body>


<footer>
    <div class="buttons">
        <button onclick="location.href='/resources'" type="button" class="button">resources</button>
        <button onclick="location.href='/exercises'" type="button" class="button">try a different exercise</button>
    </div>
</footer>


</html>