<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>breathe</title>
    <link href="../static/css/senses.css", rel = "stylesheet">
    <link href = "../static/css/base.css", rel = "stylesheet">
    <script src = "../static/js/senses.js"></script>
</head>

<body>

    <div class = "text-container">
        <h4 class = "number">3 things</h4>
        <h4 class = "sense">you can hear</h4>
    
    </div>

    <div class = "checklist" >
        <button id = "option1" class = "option" onclick = "selectOption1()"></button>
        <button class = "option" id = "option2" onclick = "selectOption2()"></button>
        <button class = "option" id = "option3" onclick = "selectOption3()"></button>
    </div>

    
    
</body>


<footer>
    <div class="buttons">
        <a href="resources.html"><button>resources</button></a>
        <a href=""><button>try a different exercise</button></a>
    </div>
</footer>


</html>