<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grounded</title>  
    <link href="/static/css/senses-start.css", rel = "stylesheet">
    <link href = "/static/css/base.css", rel = "stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/senses-start.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <!-- <script src = "/static/js/senses.js"></script> -->
</head>

<body>

    <div class = "text-container">
        <h1 class = "number">5</h1>
        <h2 class = "sense">senses</h2>
        <br><br><br>
        <h4 class="instructions">click on an empty circle each time <br> you identify something new</h4>
        <div class="start">
            <button onclick="location.href='/senses/5'" type="button" class="button">start &#9658</button>
        </div>
            
 
    </div>
    <img src="{{ url_for ('static', filename='img/sensesStart.png')}}"">

    
    
</body>



</html>