<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>breathe</title>

    <link rel="stylesheet" href="../css files/breathing.css">
    <link rel="stylesheet" href="../css files/base.css">
</head>
<body>
    <div class="main">
        <div class="circle">
            <div class="main-text">
                <h1 id="instructions">breathe in</h1>
                <h1 id="second-line">breathe out</h1>
            </div>
        </div>

        <div class="buttons">
            <a href="resources.html"><button>resources</button></a>
            <a href="resources.html"><button>try a different exercise</button></a>
        </div>

    </div>
    
    <script src="../js files/breathing.js"></script>
</body>
</html>