<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resources</title>

    <link rel="stylesheet" href="../static/css/exercises.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/exercises.css') }}">
</head>
<body>
    <div class="main">

        <div class="exercises">
			<ul class="resources-list">
				<li><a href="/" target="_self" rel="noopener noreferrer"><u>guided breathing</u></a></li>
				<li><a href="sensesStart" target="_self" rel="noopener noreferrer"><u>5 senses</u></a></li>
			</ul>
        </div>


        <div class="buttons">
            <button onclick="location.href='/resources'" type="button" class="button">< back to resources</button>
        </div>

 
</body>
</html>