<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Start</title>  
    <link href="/static/css/start.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/start.css') }}">
  </head>
  <body>
    <div class = "start">
      <button onclick="location.href='/breathe'" type="button" class="button">start</button>
    </div>

    </a>

   
  

  </body>


  <footer>
    
  </footer>
</html>
